logs/
coverage/
node_modules/
build/
public/
dist/
typings/
src/temp/
src/save/
src/test/**/*
_typecheck_.ts

src/.save
src/.temp

# dotenv environment variables file
.env
.env.test

test/**/temp*.*
Deno.txt
*.log
